{% extends "mypage/base.html" %}

{% block title %}
my learning
{% endblock %}

{% block content %}

<div class="container-fluid mt-4">
    <div class="row mt-4">

        <!-- Sidebar -->
        <div class="col-md-3 mb-3">

            <!-- Course Image -->
            {% if course.image %}
            <div class="card shadow-sm mb-3">
                <img src="{{ course.image.url }}" alt="{{ course.course_name }}" class="card-img-top"
                    style="height:200px; object-fit:cover;">
                <div class="card-body text-center">
                    {% if is_enrolled %}
                    <a href="{% url 'courses:unit' sections.0.id course.id 0 %}" class="btn btn-success w-100">
                                Go to my learning
                            </a>

                    {% else %}
                    <a href="{% url 'mypage:create_entrollment' course.id %}" class="btn btn-primary w-100">
                        Enroll Now
                    </a>
                    {% endif %}
                </div>
            </div>
            {% endif %}

            <!-- Sections Card -->
            <div class="card shadow-sm">
                <div class="card-header ">
                    Course content (Sections)
                </div>

                <div class="card-body">

                    <!-- Progress Bar -->
                    <div class="progress mb-3" style="height:25px;">

                        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success
                {% if enrollment.get_progress == 0 %}progress-zero{% endif %}" role="progressbar"
                            style="width: {{ enrollment.get_progress }}%;">
                            {{ enrollment.get_progress }}%
                        </div>

                    </div>

                    <!-- Section List -->
                    <div class="list-group">
                        {% for section in sections %}
                        <button class="list-group-item list-group-item-action" data-bs-toggle="collapse"
                            data-bs-target="#section{{ section.id }}"
                            aria-expanded="{% if forloop.first %}true{% else %}false{% endif %}">

                            {{ forloop.counter }}. {{ section.section_name }}

                        </button>

                        <!-- Units -->
                        <div id="section{{ section.id }}" class="collapse {% if forloop.first %}show{% endif %}">

                            {% for unit in section.units.all %}

                            <div
                                class="list-group-item list-group-item-light ps-4">

                                📖 {{ unit.unit_name }}

                        </div>

                            {% empty %}
                            <div class="list-group-item text-muted ps-4">
                                No units available
                            </div>




                            {% endfor %}

                        </div>
                        {% endfor %}
                    </div>

                </div>
            </div>

        </div>

        <!-- Main Content -->
        <div class="col-md-9">

            <div class="card shadow-sm mb-4">
                <div class="card-body">
                    <h2>{{ course.course_name }}</h2>

                    <p>Last Updated: {{ course.last_updated}}</p>
                    <h5>Course Description</h5>

                    <p>{{ course.description|linebreaks }}</p>
                </div>
            </div>



        </div>

    </div>
</div>

{% endblock %}