{% extends "mypage/base.html" %}
{% load static %}

{% block title %}
{{ unit.unit_name }} Quiz
{% endblock %}

{% block content %}
<div class="container py-4 mb-5">
    <div class="text-center mb-5">
        <h1 class="fw-bold">{{ unit.unit_name }}</h1>
        <p class="text-muted fs-5">
            Test your knowledge and improve your understanding.
        </p>
        {% if score is not None %}
        <div class="alert alert-success mt-4">
            <h4>Your Score: {{ score }} / {{ questions|length }}</h4>
        </div>
        {% endif %}
    </div>
    <form method="post">
        {% csrf_token %}


        {% for question in questions %}

        <div class="card shadow rounded-4 border-0 mb-4
{% cycle 'quiz-blue' 'quiz-green' 'quiz-yellow' 'quiz-purple' 'quiz-pink' %}">

            <div class="card-body p-4">

                <!-- Question Number -->
                <div class="d-flex align-items-center mb-4">

                    <h5 class="mb-0 fw-bold">
                        Question {{ forloop.counter }}
                    </h5>

                </div>

                <!-- Question -->
                <h4 class="fw-semibold mb-4">
                    {{ question.question_text }}
                </h4>

                <!-- Options -->
                <div class="d-grid gap-3">

                    <label class="option-card">
                        <input type="radio" name="question_{{ question.id }}" value="{{ question.option1 }}">
                        <span><strong class="me-2 text-primary">A.</strong>{{ question.option1 }}</span>
                    </label>

                    <label class="option-card">
                        <input type="radio" name="question_{{ question.id }}" value="{{ question.option2 }}">
                        <span><strong class="me-2 text-success">B.</strong>{{ question.option2 }}</span>
                    </label>

                    <label class="option-card">
                        <input type="radio" name="question_{{ question.id }}" value="{{ question.option3 }}">
                        <span><strong class="me-2 text-warning">C.</strong>{{ question.option3 }}</span>
                    </label>

                    <label class="option-card">
                        <input type="radio" name="question_{{ question.id }}" value="{{ question.option4 }}">
                        <span><strong class="me-2 text-danger">D.</strong>{{ question.option4 }}</span>
                    </label>

                </div>

            </div>

        </div>

        {% endfor %}
        <div class="text-center mt-5">
            <button type="submit" class="btn btn-primary btn-lg px-5 shadow">
                Submit Quiz
            </button>
        </div>

    </form>

</div>

{% endblock %}