<h1>{{ unit.unit_name }} Quiz</h1>

<form method="post">
    {% csrf_token %}

    {% for question in questions %}
    <div class="container quiz-container">
        <div class="quiz-header">
            <p id="question">{{ forloop.counter }}. {{ question.question_text }}</p>
            <div id="options" class="list-group"></div>
            <div>
                <input type="radio" name="question_{{ question.id }}" value="{{ question.option1 }}">
                {{ question.option1 }}
            </div>

            <div>
                <input type="radio" name="question_{{ question.id }}" value="{{ question.option2 }}">
                {{ question.option2 }}
            </div>

            <div>
                <input type="radio" name="question_{{ question.id }}" value="{{ question.option3 }}">
                {{ question.option3 }}
            </div>

            <div>
                <input type="radio" name="question_{{ question.id }}" value="{{ question.option4 }}">
                {{ question.option4 }}
            </div>
        </div>
    </div>
    {% endfor %}
    <button id="next-button" class="btn btn-primary mt-3">Next Question</button>

    <div id="result" class="result">
        <p>Your score is: <span id="score">0</span>/3</p>
        <button id="retry-button" class="btn btn-secondary">Retry Quiz</button>
    </div>

</form>