{% extends "mypage/base.html" %}
{% load static %}

{% block title %}
EasyGeo
{% endblock %}


{% block content %}

<!-- Hero Section -->
<section class="hero-section">

    <div class="text-center mt-5">

        <h1 class="display-1 fw-bold">
            Explore the World
            <br>
            with EasyGeo!
        </h1>
    </div>

    <!-- Hero Image -->
    <div class="text-center mt-4">
        <img src="{% static 'images/world_map.png' %}" class="img-fluid" alt="World Map">
    </div>

</section>


<!-- Features -->
<section class="py-5 features-section">

    <div class="container">

        <h2 class="text-center fw-bold display-5 mb-5">
            Features
        </h2>

        <div class="row g-4">

            <div class="col-md-4">
                <div class="card feature-card border-0 shadow-lg h-100 text-center p-4">

                    <div class="mb-3">
                        <i class="bi bi-globe2 display-3 text-primary"></i>
                    </div>

                    <h3 class="fw-bold">
                        Interactive Maps
                    </h3>
                    <p class="text-muted">
                        Explore countries, continents, rivers,
                        mountains, and landmarks through
                        interactive geography maps.
                    </p>

                </div>
            </div>

            <div class="col-md-4">
                <div class="card feature-card border-0 shadow-lg h-100 text-center p-4">

                    <div class="mb-3">
                        <i class="bi bi-patch-question-fill display-3 text-warning"></i>
                    </div>

                    <h3 class="fw-bold">
                        Live Quizzes
                    </h3>

                    <p class="text-muted">
                        Test your understanding with
                        engaging quizzes and instant
                        score tracking.
                    </p>

                </div>
            </div>

            <div class="col-md-4">
                <div class="card feature-card border-0 shadow-lg h-100 text-center p-4">

                    <div class="mb-3">
                        <i class="bi bi-book-fill display-3 text-success"></i>
                    </div>

                    <h3 class="fw-bold">
                        Personalized Learning
                    </h3>

                    <p class="text-muted">
                        Learn at your own pace with
                        organized courses, sections,
                        units, videos and notes.
                    </p>

                </div>
            </div>

        </div>

    </div>

</section>


<!-- CTA Section -->
<section class="py-5 features-section">


    <div class="row align-items-center">

        <div class="col-md-3 text-center">
            <!--  -->
        </div>

        <div class="col-md-6 text-center">

            <p class="fs-5 text-muted">
                Get ready to start your geography journey
                and explore the world like never before.
            </p>

            <a href="{% url 'courses:all_courses' %}" class="btn btn-lg rounded-pill px-5 py-3 mt-3 cta-btn orange-btn-bg-color">
                Contact Us
            </a>
        </div>

        <div class="text-center mt-4">
            <img src="{% static 'images/bottom.png' %}" class="img-fluid" alt="World Map">
        </div>



    </div>

</section>



{% endblock %}