{% extends "base.html" %}
{% load static %}

{% block title %}
All Courses
{% endblock %}

{% block content %}

<div class="container mt-4">
    <h1 class="text-center mb-4">All Courses</h1>

    <div class="row">

        {% for course in courses %}
        <div class="col-md-4 mb-4">

            <h3>{{ course.course_name }}</h3>

            {% if course.image %}
            <img src="{{ course.image.url }}" width="300">
            {% endif %}

            <a href="{% url 'section' course.id %}" class="btn btn-primary">
                Go to Section
            </a>

        </div>
        {% empty %}
        <p>No courses available.</p>
        {% endfor %}

    </div>
</div>

{% endblock %}