{% extends "base.html" %}

{% block title %}
Home Page
{% endblock %}

{% block content %}

<h1>Welcome to the Profile Page!</h1>

{% for message in messages %}
<p class="color-white">
    {{ message }}
</p>
{% endfor %}

<p><i>This is your profile page</i></p>

<div class="center-container">

    <div class="login-form">

        <div class="text-center">

            <!-- Profile Image -->
            <div class="position-relative d-inline-block">

                {% if user_data.profile_picture %}
                <img src="{{ user_data.profile_picture.url }}" class="rounded-circle profile-pic" width="150"
                    height="150" alt="Profile Picture">
                {% else %}
                <img src="https://via.placeholder.com/150" class="rounded-circle profile-pic" width="150" height="150"
                    alt="Default Picture">
                {% endif %}

            </div>

            <h3 class="mt-3 mb-1">{{ user_data.name }}</h3>

            <!-- Upload / Update -->

            <form method="POST" action="{% url 'users:update_picture' %}" enctype="multipart/form-data">

                {% csrf_token %}

                <input type="file" name="profile_picture" required>

                <button type="submit" class="btn btn-primary mt-2">
                    Upload / Update
                </button>

            </form>

            <br>

            <!-- Delete -->

            <form method="POST" action="{% url 'users:delete_picture' %}">

                {% csrf_token %}

                <button type="submit" class="btn btn-danger">
                    Delete Picture
                </button>

            </form>

        </div>

        

        <div>
            <label>Name:</label>
            <input type="text" value="{{ user_data.name }}" disabled>
        </div>

        <br>

        <div>
            <label>Username:</label>
            <input type="text" value="{{ user_data.username }}" disabled>
        </div>

        <br>

        <div>
            <label>Email:</label>
            <input type="email" value="{{ user_data.email }}" disabled>
        </div>

        <br>

        <div>
            <label>Mobile No:</label>
            <input type="text" value="{{ user_data.mobile_no }}" disabled>
        </div>

        <br>

        <div>

            <a href="{% url 'users:update_profile' %}" class="a-tag-btn" style="color:green;">
                Update Profile
            </a>
            <p>Joined : {{user_data.joined}}</p>
            <p>Last Updated Profile : {{user_data.last_updated}}</p>
            <a href="{% url 'users:delete_profile' %}" class="a-tag-btn" style="color:red;">
                Delete Profile
            </a>

        </div>

    </div>

</div>

{% endblock %}