{% extends "mypage/base.html" %}
{% block title %}
Login
{% endblock %}

{% block content %}

<div class="container d-flex justify-content-center align-items-center" style="min-height: 85vh; ">

    <div class="card login-card shadow-lg border-0 p-4" style="max-width: 450px; width: 100%; border-radius: 15px;" >

        <div class="text-center mb-4">
            <h2 class="fw-bold h2-color ">Welcome Back</h2>
            <p class="text-muted">Login to your EasyGeo account</p>
        </div>

        {% for message in messages %}
        <div class="alert alert-warning">
            {{ message }}
        </div>
        {% endfor %}

        <form action="login" method="POST"  class="p-4 rounded">
            {% csrf_token %}

            <div class="mb-3">
                <label for="username" class="form-label fw-semibold">
                    Username
                </label>
                <input type="text" class="form-control" id="username" name="username" placeholder="Enter username"
                    required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-label fw-semibold">
                    Password
                </label>
                <input type="password" class="form-control" id="password" name="password" placeholder="Enter password"
                    required>
            </div>

            <button type="submit" class="btn btn-primary w-100 course-btn">
                Login
            </button>

            <div class="text-center mt-3">
                Don't have an account?
                <a href="{% url 'users:registration' %}" class="text-decoration-none ">
                    Register
                </a>
            </div>

        </form>

    </div>

</div>

{% endblock %}