/* Page Background */
body {
    background-color: #d6f0f5;
}
.features-section {
    /* my theme section color */
    background-color:#deece3;
}
.feature-card {
    border-radius: 20px;
    transition: 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-8px);
}

.feature-card h3 {
    color: #5d9d7e;
}
.orange-btn-bg-color {
    background-color: #f68336;
    color: white;
    
}
.footer-btn{
    color: #f68336
} 
.orange-btn-bg-color:hover {
background-color: #e26f22;
 
}

.hero-image {
    max-width: 100%;
}

.bottom-image {
    max-width: 100%;
    margin-top: 30px;
}

.course-body {
    color: #5d9d7e;
} 

.course-title {
    color: #5d9d7e;
    font-weight: bold;
}

.course-text {
    color: #6c757d;
}
.login-card {
    background-color: #d6f0f5;
    border-radius: 15px;
}

.course-btn {
background-color: #03a3bd;
    color: white;
    border-radius: 15px;
    padding: 12px;
    text-align: left;
}
.course-btn:hover {
    background-color: #5d9d7e;
}
.progress-zero {
    min-width: 45px;
}
.h2-color{
 color: #03a3bd;

}